{% set contentFullWidth = true %}

{% extends 'base.html.twig' %}

{% block title %}Sign Up{% endblock %}

{% block body %}

    <div class="form">

        <h2 class="title title--big">Create a new account</h2>
        {{ form_start(registerForm) }}

        {# Firstname field #}
        <div class="form--row row--half
            {% if not registerForm.firstname.vars.valid %}has-error{% endif %}
        ">
            {{ form_label(registerForm.firstname) }}

            {{ form_widget(registerForm.firstname, {
                'attr': {
                    'class': 'form__widget',
                    'placeholder': 'John'
                }
            }) }}

            {{ form_errors(registerForm.firstname) }}
        </div>
        {# Firstname field #}

        {# Lastname field #}
        <div class="form--row row--half
                {% if not registerForm.lastname.vars.valid %}has-error{% endif %}
            ">
            {{ form_label(registerForm.lastname) }}

            {{ form_widget(registerForm.lastname, {
                'attr': {
                    'class': 'form__widget',
                    'placeholder': 'Doe'
                }
            }) }}

            {{ form_errors(registerForm.lastname) }}
        </div>
        {# Lastname field #}

        {# Username field #}
        <div class="form--row
                {% if not registerForm.username.vars.valid %}has-error{% endif %}
            ">
            {{ form_label(registerForm.username) }}

            {{ form_widget(registerForm.username, {
                'attr': {
                    'class': 'form__widget',
                    'placeholder': 'Anonymous'
                }
            }) }}

            {{ form_errors(registerForm.username) }}
        </div>
        {# Username field #}

        {# Password field #}
        <div class="form--row
                {% if not registerForm.plainPassword.vars.valid %}has-error{% endif %}
            ">
            {{ form_label(registerForm.plainPassword) }}

            {{ form_widget(registerForm.plainPassword, {
                'attr': {
                    'class': 'form__widget',
                    'placeholder': '***********'
                }
            }) }}

            {{ form_errors(registerForm.plainPassword) }}
        </div>
        {# Password field #}

        {# TermsAgree field #}
        <div class="form--row
                {% if not registerForm.agreeTerms.vars.valid %}has-error{% endif %}
            ">

            <label for="{{ registerForm.agreeTerms.vars.id }}" class="form__label required form__checkbox">
                {{ registerForm.agreeTerms.vars.label|raw }}

                {{ form_widget(registerForm.agreeTerms, {
                    'attr': {
                        'class': 'form__widget'
                    }
                }) }}
                <span class="checkmark"></span>
            </label>

            {{ form_errors(registerForm.agreeTerms, {
                'attr': {
                    'class': 'form__error'
                }
            }) }}
        </div>
        {# TermsAgree field #}

        {# Submit button #}
        <div class="form--row">
            <input type="submit" value="Create account" class="form__submit">
        </div>
        {# Submit button #}

        {{ form_end(registerForm) }}
    </div>

{% endblock %}
