{# Header #}
<header class="header">

    {# Navigation #}
    <div class="navbar">

        <h1 class="navbar__logo">
            <a href="{{ path('home') }}">
                AnsFrame
            </a>
        </h1>
    </div>
    {# Navigation #}

    {# Profile #}
    <div class="profile">

        <div class="search">

            <i class="fa fa-search search__icon" aria-hidden="true"></i>

            <form action="{{ path('home') }}" method="get" class="search__form hidden">
                <input type="text" name="q" id="q" placeholder="What are you looking for ?">
            </form>
        </div>

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}

            <div class="profile__registered">

                <span>
                    <img class="profile__picture" src="{{ asset('build/profile.png') }}" alt="profile picture">
                </span>

                <div class="profile__menu hidden">
                    <ul>
                        <li class="profile__menu--item">
                            <a href="#" class="profile__menu--link">My account</a>
                        </li>
                        <li class="profile__menu--item">
                            <a href="{{ path('admin_question_new') }}" class="profile__menu--link">Ask question</a>
                        </li>
                        <li class="profile__menu--item">
                            <a href="{{ path('app_logout') }}" class="profile__menu--link">Log out</a>
                        </li>
                    </ul>
                </div>
            </div>

        {% else %}

            <div class="profile__unenrolled">

                <ul class="unenrolled__links">
                    <li>
                        <a href="{{ path('app_register') }}">
                            <i class="fa fa-sign-in" aria-hidden="true"></i>
                            Register
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('app_login') }}">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            Log In
                        </a>
                    </li>
                </ul>
            </div>

        {% endif %}

    </div>
    {# Profile #}

</header>
{# Header #}