<!-- Paginator -->
<div class="paginator">

    <a
        {% if currentPage > 1 %}
            href="{{ path(app.request.get('_route'), {'page': currentPage - 1}|merge(options ?? [])) }}"
            class="paginator__previous"
        {% else %}
            class="paginator__previous disabled"
        {% endif %}
    >
        << Previous
    </a>

    {% if currentPage > 1 %}
        <a
            href="{{ path(app.request.get('_route'), {'page': currentPage - 1}|merge(options ?? [])) }}"
            class="paginator__page"
        >
            {{ currentPage - 1 }}
        </a>
    {% endif %}

    <a
        href="{{ path(app.request.get('_route'), {'page': currentPage}|merge(options ?? [])) }}"
        class="paginator__page active">
        {{ currentPage }}
    </a>

    {% for i in 1..2 %}
        {% if (currentPage + i) <= lastPage %}
            <a
                href="{{ path(app.request.get('_route'), {'page': currentPage + i}|merge(options ?? [])) }}"
                class="paginator__page">
                {{ currentPage + i }}
            </a>
        {% endif %}
    {% endfor %}

    {% if (currentPage + 3) <= lastPage %}
        <div
            class="paginator__page">
            ...
        </div>
    {% endif %}

    <a
        {% if currentPage != lastPage %}
            href="{{ path(app.request.get('_route'), {'page': currentPage + 1}|merge(options ?? [])) }}"
            class="paginator__next"
        {% else %}
            class="paginator__next disabled"
        {% endif %}
    >
        Next >>
    </a>

</div>
<!-- Paginator -->
