{% set contentFullWidth = true %}
{% set wrapperClasses = 'no-background' %}

{% extends 'base.html.twig' %}

{% block title %}Edit question{% endblock %}

{% block body %}

    {{ form_start(editQuestionForm) }}

        <h2 class="title title--big">Edit question</h2>

        {# Tags field #}
        <div class="form--row
                {% if not editQuestionForm.tags.vars.valid %}has-error{% endif %}
            ">

            {{ form_label(editQuestionForm.tags) }}

            {{ form_widget(editQuestionForm.tags) }}

            {{ form_errors(editQuestionForm.tags) }}

        </div>
        {# Tags field #}

        {# Title field #}
        <div class="form--row
                {% if not editQuestionForm.title.vars.valid %}has-error{% endif %}
            ">

            {{ form_label(editQuestionForm.title) }}

            {{ form_widget(editQuestionForm.title) }}

            {{ form_errors(editQuestionForm.title) }}

        </div>
        {# Title field #}

        {# Content field #}
        <div class="form--row
                {% if not editQuestionForm.content.vars.valid %}has-error{% endif %}
            ">

            {{ form_label(editQuestionForm.content) }}

            {{ form_widget(editQuestionForm.content) }}

            {{ form_errors(editQuestionForm.content) }}

        </div>
        {# Content field #}

        <div class="form--row">

            <input type="submit" value="Edit" class="form__submit">

        </div>

    {{ form_end(editQuestionForm) }}
{% endblock %}
