<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %} - AnsFrame</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {# Header section #}
        {% block header %}
            {% include('layouts/_header.html.twig') %}
        {% endblock %}
        {# Header section #}

        {# Flash messages #}
        {% for label, messages in app.flashes(['success', 'warning']) %}
            {% for message in messages %}
                <div class="alert alert--{{ label }}">
                    <i class="fa fa-times alert--closer" aria-hidden="true"></i>
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        {# Flash messages #}

        {# Main section #}
        <div class="wrapper
            {% if wrapperClasses is defined %}{{ wrapperClasses }}{% endif %}
        ">

            <div class="wrapper__content
                {% if contentFullWidth is not defined %} wrapper--three-quarters {% elseif contentFullWidth is same as(true) %} wrapper--full {% endif %}
            ">
                {% block body %}{% endblock %}
            </div>

            {% if contentFullWidth is not defined or not contentFullWidth is same as(true) %}
                <div class="wrapper__sidebar wrapper--quarter">
                    {% block sidebar %}
                        {% include('layouts/_sidebar.html.twig') %}
                    {% endblock %}
                </div>
            {% endif %}
        </div>
        {# Main section #}

        {# Footer section #}
        {% block footer %}
            {% include('layouts/_footer.html.twig') %}
        {% endblock %}
        {# Footer section #}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
